body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #e5e5e5;
    padding: 0;
    margin: 0;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #14213d;
}

li {
    float: left;
    padding: 5px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 45px;
}

#molecule {
    margin-top: 20px;
    font-size: 14px;
    padding: 8px 8px;
    cursor: pointer;
}

#display {
    margin-top: 10px;
    font-size: 14px;
    padding: 8px 8px;
    cursor: pointer;
}

#p1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    font-size: 18px;
}

#x {
    padding: 8px 8px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

#y {
    padding: 8px 8px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

#z {
    padding: 8px 8px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

/* #svg {
    margin-top: px;
    padding: 0;
} */